<section class="highlights">

  <qs-highlight [title]="'Steps'" [description]="'Total steps today'" [value]="7034" [icon]="'directions_walk'"></qs-highlight>

  <qs-highlight [title]="'Distance'" [description]="'Todays total'" [value]="4800" [icon]="'map'"></qs-highlight>

  <qs-highlight [title]="'Calories Burned'" [description]="'Todays total'" [value]="282" [icon]="'map'"></qs-highlight>
</section>

<section>
  <!-- Step Chart -->
  <md-card>
    <md-card-title>Steps</md-card-title>
    <md-card-subtitle>7 day history</md-card-subtitle>
    <md-divider></md-divider>
    <div class="chart-height push-top push-right-sm" style="min-height: 300px">
          <ngx-charts-bar-vertical
            [scheme]="colorScheme"
            [results]="stepCountChart"
            [gradient]="gradient"
            [xAxis]="showXAxis"
            [yAxis]="showYAxis"
            [legend]="showLegend"
            [showXAxisLabel]="showXAxisLabel"
            [showYAxisLabel]="showYAxisLabel"
            [xAxisLabel]="xAxisLabel"
            [yAxisLabel]="yAxisLabel"
            [yAxisTickFormatting]="axisDigits">
          </ngx-charts-bar-vertical>
    </div>
  </md-card>

  <!-- Distance Chart -->
  <!--<md-card>
    <md-card-title>Distance</md-card-title>
    <md-card-subtitle>7 day history</md-card-subtitle>
    <md-divider></md-divider>
    <div class="chart-height push-top push-right-sm" style="min-height: 300px">
          <ngx-charts-bar-vertical
            [scheme]="colorScheme"
            [results]="distanceChart"
            [gradient]="gradient"
            [xAxis]="showXAxis"
            [yAxis]="showYAxis"
            [legend]="showLegend"
            [showXAxisLabel]="showXAxisLabel"
            [showYAxisLabel]="showYAxisLabel"
            [xAxisLabel]="xAxisLabel"
            [yAxisLabel]="yAxisLabel"
            [yAxisTickFormatting]="axisDigits">
          </ngx-charts-bar-vertical>
    </div>
  </md-card>-->

  <!-- Calories Chart -->
  <!--<md-card>
    <md-card-title>Calories</md-card-title>
    <md-card-subtitle>7 day history</md-card-subtitle>
    <md-divider></md-divider>
    <div class="chart-height push-top push-right-sm" style="min-height: 300px">
          <ngx-charts-bar-vertical
            [scheme]="colorScheme"
            [results]="caloriesChart"
            [gradient]="gradient"
            [xAxis]="showXAxis"
            [yAxis]="showYAxis"
            [legend]="showLegend"
            [showXAxisLabel]="showXAxisLabel"
            [showYAxisLabel]="showYAxisLabel"
            [xAxisLabel]="xAxisLabel"
            [yAxisLabel]="yAxisLabel"
            [yAxisTickFormatting]="axisDigits">
          </ngx-charts-bar-vertical>
    </div>
  </md-card>-->
</section>
